

html {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}
body {
    margin: 0;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    height: 100%;
     
    
}
.page-wrapper .headings {
    background-color: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:white;
    margin-top: 150px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:white;
    
}
img {
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
}
button {
    height: 100px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    margin-top: 30px;
    margin-top: 50px;
}
#rock {
    font-size: 100px;
    background-color: darkgray;
    border: none;
    margin-right: 20px;
}
#paper {
    font-size: 100px;
    background-color: darkgray;
    border: none;
    margin-right: 20px;
}
#scissors {
    font-size: 100px;
    background-color: darkgray;
    border: none;
}
button:hover { 
    transform: scale(1.3); 
    cursor: pointer;
}
.result-list {
    display: flex;
    flex-direction: row;
    align-self: ;
    margin-top: 40px;

}
.result-list .player-score {
    font-size: 20px;
    margin-right: 100px;
    color: white;
}
.result-list .computer-score {
    font-size: 20px;
    color: white;
}